@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Abril";
    /* font-weight: 700; */
    src: url("/Fonts/Fonts/Abril/Abril_Display_Black.otf");
  }
  @font-face {
    font-family: "Abril2";
    font-weight: 700;
    src: url("/Fonts/Fonts/Abril/Abril_Display_BlackItalic.otf") format("otf"),
      url("/Fonts/Fonts/Abril/Abril_Display_Bold.otf") format("otf"),
      url("/Fonts/Fonts/Abril/Abril_Display_ExtraBold.otf") format("otf"),
      url("/Fonts/Fonts/Abril/Abril_Display_ExtraBoldItalic.otf") format("otf"),
      url("/Fonts/Fonts/Abril/Abril_Display_Italic.otf") format("otf"),
      url("/Fonts/Fonts/Abril/Abril_Display_Regular.otf") format("otf"),
      url("/Fonts/Fonts/Abril/Abril_Display_SemiBold.otf") format("otf"),
      url("/Fonts/Fonts/Abril/Abril_Fatface.otf") format("otf"),
      url("/Fonts/Fonts/Abril/Abril_Fatface_Italic.otf") format("otf"),
      url("/Fonts/Fonts/Abril/Abril_Text_Bold.otf") format("otf"),
      url("/Fonts/Fonts/Abril/Abril_Text_BoldItalic.otf") format("otf"),
      url("/Fonts/Fonts/Abril/Abril_Text_ExtraBold.otf") format("otf"),
      url("/Fonts/Fonts/Abril/Abril_Text_ExtraBoldItalic.otf") format("otf"),
      url("/Fonts/Fonts/Abril/Abril_Text_Italic.otf") format("otf"),
      url("/Fonts/Fonts/Abril/Abril_Text_Regular.otf") format("otf"),
      url("/Fonts/Fonts/Abril/Abril_Text_SemiBold.otf") format("otf"),
      url("/Fonts/Fonts/Abril/Abril_Text_SemiBoldItalic.otf") format("otf");
  }
  @font-face {
    font-family: "Bakilda";
    font-weight: 400;
    font-size: 44px;
    line-height: 60px;
    src: url("/Fonts/Fonts/Bakilda/bakilda-histori.ttf");
  }

  @font-face {
    font-family: "Value Sans Pro one";
    /* font-weight: 800; */
    line-height: 27.2px;
    src: url("/Fonts/Fonts/Value Sans Pro/ValueSansPro-Regular.ttf");
  }

  @font-face {
    font-family: "Value_Sans_Pro_Two";
    src: url("/Fonts/Fonts/Value Sans Pro/ValueSansPro-MediumItalic.ttf");
  }
  @font-face {
    font-family: "lemonada";
    src: url("/Fonts/Fonts/lemonada/Lemonada-Regular.ttf");
  }
  @font-face {
    font-family: "Value Sans Pro 99";
    src: url("/Fonts/Fonts/Value Sans Pro/ValueSansPro-Black.ttf"),
      url("/Fonts/Fonts/Value Sans Pro/ValueSansPro-BlackItalic.ttf"),
      url("/Fonts/Fonts/Value Sans Pro/ValueSansPro-Bold.ttf"),
      url("/Fonts/Fonts/Value Sans Pro/ValueSansPro-BoldItalic.ttf"),
      url("/Fonts/Fonts/Value Sans Pro/ValueSansPro-Italic.ttf"),
      url("/Fonts/Fonts/Value Sans Pro/ValueSansPro-Medium.ttf"),
      url("/Fonts/Fonts/Value Sans Pro/ValueSansPro-MediumItalic.ttf");
  }
}

/* This is first section or home  background image */
.banner {
  background-image: url("./assets/banner/Background_Banner_1.svg");

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

/* This is schedule section background image */
.schedule {
  background-image: url("./assets/schedule/Group 1000008461.svg");

  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

/* This is footer section background image */

.background {
  background-image: url("../src/assets/footer/background.png");

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
